<div class="footer_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wow animated fadeInRight" data-wow-delay="5s">
            <h1 class="address_text">Address</h1>
          <div class="location_text">
            <i class="fa-solid fa-location-dot"></i>
            <a href="#">
              <span class="padding_left_15">No. 164/4 Farmgate, Dhaka</span>
            </a>
          </div>
          <div class="location_text">
            <i class="fa-solid fa-phone"></i>
            <a href="#">
              <span class="padding_left_15">( +8801824895119 )</span></a>
            </div>
          <div class="location_text">
            <i class="fa-solid fa-envelope"></i>
            <a href="#">
              <span class="padding_left_15">sarowar099@gmail.com</span>
            </a>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow animated fadeInRight" data-wow-delay="8s">
            <h1 class="address_text">Follow Us</h1>
          <div class="location_text followIcon">
            <i class="fa-brands fa-facebook-f"></i>
            <a href="#">
              <span class="padding_left_15">Facebook</span>
            </a>
          </div>
          <div class="location_text followIcon">
            <i class="fa-brands fa-twitter"></i>
            <a href=""><span class="padding_left_15">Twitter</span></a>
            
          </div>
          <div class="location_text followIcon">
            <i class="fa-brands fa-instagram"></i>
            <a href="#"><span class="padding_left_15">Instagram</span>
            </a>
          </div>
          <div class="location_text followIcon">
            <i class="fa-brands fa-linkedin-in"></i>
            <a href="#"><span class="padding_left_15">Linkedin</span>
            </a>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow animated fadeInRight" data-wow-delay="11s">
            <h1 class="address_text">Stay Informed</h1>
          <input type="text" class="enter_text" placeholder="Enter Your Email">
          <div class="subscribe_bt"><a href="#">Get Notified</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer section end -->

  <!--copyright section start -->
  <div class="copyright_section">
    <p class="copyright_text">Copyright &copy; 2025 All Right Reserved. <b>Developed by <a href="https://www.facebook.com/jony.sarowar">Jony Sarowar</a></b> </p>
  </div>
  <!--copyright section end -->

  
    
  <script src="/js/wow.min.js"></script>

  <script>
    new WOW().init();
  </script>
 
  <!-- Javascript files-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.0.0.min.js"></script>
  <script src="/js/plugin.js"></script>
  <!-- sidebar -->
  <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/product.js"></script>
  <script src="/js/owl.carousel.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


</body>
</html>